@use './base/common';
@use './utils/' as *;
@use './components/header-home';
@use './components/header-library';
@use './components/cards-home';
@use './components/cards-library';
@use './components/pagination';
@use './components/footer';
@use './components/modal-card';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
@import './utils/variables';
@import './utils/mixin';
@import 'node_modules/modern-normalize/modern-normalize.css';
@import './components/pagesBar';
@import './components/modal-styles';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 16px;
}
body {
  color: $color-orange;
  background-color: $color-white;
  margin: auto;
  width: 100%;
  height: 100vh;
}

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \";\".\a   \2577 \a 5 \2502  @import '../sass/components/modal-styles' * {\d\a   \2502                                            ^\a   \2575 \a   sass\\main.scss 5:43  root stylesheet";
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
