@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';
@import './utils/variables';
@import './utils/mixin';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 16px;
}
body {
  color: $color-orange;
  background-color: $color-white;
  margin: auto;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
