$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ff6b08;
$color-button-orange: #ff6b01;
$color-red: #ff001b;
$color-logo: #818181;
$color-text1-gray: #545454;
$color-text2-gray: #8c8c8c;
$color-bg-text: #f7f7f7;
