$color-white: #ffffff;
$color-black: #000000;
$color-orange: #FF6B08;
$color-button-orange: #FF6B01;
$color-red:#FF001B;
$color-logo: #818181;
$color-text1-gray: #545454;
$color-text2-gray: #8C8C8C;
$color-boxPagesBar:#f7f7f7;