<!-- home page container for cards
<div class="cards-container">

</div> 
<section class="search-container">
  <input type="text" id="search-input" placeholder="Buscar película..." />
  <button id="search-button">Buscar</button>
</section>-->


<div class="movie-grid-wrap">
  <section class="movie-grid">
    <!-- Las tarjetas de películas se cargarán aquí -->
  </section>

</section>
<section class="search-results">
  <!-- Los resultados de búsqueda se cargarán aquí -->
</section>
</div>
