<!-- header for library page -->
<header class="header-library visually-hidden header">
  <div class="header-home__bg">
    <div class="header-home__container container__wrap">
        <a href="/src/index.html" class="nav__logo link"
        ><svg class="logo">
          <use href="/src/images/svg/sprite.svg#icon-logo"></use>
        </svg>
        <span class="nav__text">Filmoteka</span></a>
        <nav class="nav">
          <ul class="nav__list list">
            <li class="nav__item">
              <a href="/src/index.html" class="nav__li link">home</a>
            </li>
            <li class="nav__item list list-library is-hidden-firebase">
              <a href="/src/partials/header-library.html" class="link nav__link nav__li--current js-library">my library</a>
            </li>
          </ul>
        </nav>
      
      <div class="switch__btn">
        <div class="switch__btn__icon-container">
          <i class="switch__btn__icon fa-solid fa-sun"></i>
        </div>
      </div>

      <ul class="header__btn-wrapper">
        <li>
          <button
            id="watched"
            class="header__btn btn js-btn-watched"
            type="button"
          >
            Watched
          </button>
        </li>
        <li>
          <button id="queue" class="header__btn btn js-btn-queue" type="button">
            Queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
