@use '../utils' as *;

.search-container {
  margin: 16px;
  text-align: center;
}

input[type='text'] {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #282828;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

/////////////////////////////////////

.movie-grid-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.movie-card {
  width: 274px;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  padding: 0;
}

.movie-title {
  color: $main-text-cl;
  font-size: 0.8em;
}

.movie-info {
  display: flex;
  color: $secondary-accent-cl;
  font-size: 0.8em;
  gap: 3px;
  margin: px 0;
}

.movie-card img {
  height: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 763px) {
  .movie-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
