@use '../utils' as *;

.search-container {
  margin: 16px;
  text-align: center;
}

input[type='text'] {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  color: #282828;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

/////////////////////////////////////

.movie-grid-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.movie-card {
  width: 274px;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  padding: 0;
}

.movie-title {
  color: $main-text-cl;
  font-size: 0.8em;
}

.movie-genre {
  color: $secondary-accent-cl;
  font-size: 0.8em;
}

.movie-year {
  color: $secondary-accent-cl;
  font-size: 0.8em;
}

.movie-card img {
  width: 678px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}


.movie-grid, .search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 20px; /* Espacio entre las tarjetas de películas */
}