@use '../utils' as *;
@import '../utils/variables';

// edit below
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-card {
  position: absolute;
  width: 882px;
  height: auto;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.modal-card__list {
  display: flex;
  flex-direction: row;
}

.modal-poster {
  width: 50%;
  padding: 5% 0 4% 4%;
  margin: 0;
}

.modal-card__img {
  display: block;
  width: 396px;
  height: 477px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

.modal-data {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
  padding: 5% 4% 4% 2%;
  margin: 0;
}

.modal-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 5px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-list {
  min-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.data {
  text-align: left;
  flex: 1;
  color: $info-title-cl;
  font-size: 0.8rem;
  white-space: nowrap;
}

.value {
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word; /* Controla el espaciado entre palabras */
  flex: 1;
  color: $main-text-cl;
  font-size: 0.8rem;
  white-space: normal;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value:hover {
  text-overflow: clip;
}

.info-list-wrap {
  margin: 0;
}

.votes {
  background-color: $secondary-accent-cl;
  color: $main-bg-cl;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.vote {
  background-color: $secondary-bg-cl;
  color: $main-text-cl;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $main-text-cl;
  margin-bottom: 10px;
}

.sinopsis {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $main-text-cl;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  font-size: 12px;
  padding: 20px;
  margin: 0;
}

.add {
  background-color: $accent-btn-color;
  color: $secondary-text-cl;
}

.queue {
  background-color: $white-btn-color;
  border: 1px solid $black-btn-color;
}

@media (max-width: 1023px) {
  .modal-card {
    width: 618px;
  }

  .modal-poster {
    display: flex;
    align-items: flex-start;
  }

  .modal-card__img {
    width: 264px;
    height: 373px;
    display: flex;
    align-items: flex-start;
  }

  .button {
    font-size: 12px;
    padding: 14px;
    margin: 0;
  }
}

@media (max-width: 763px) {
  .modal-card {
    width: 280px;
    padding: 20px 150px 10px;
  }

  .modal-card__list {
    flex-direction: column;
  }

  .modal-poster {
    width: 100%;
    display: flex;
  }

  .modal-card__img {
    width: 230px;
    height: 356px;
    align-items: center;
  }

  .modal-data {
    justify-content: center;
    width: 100%;
  }

  .modal-card__title {
    margin-bottom: 5px;
  }

  li {
    display: flex;
    align-items: left;
    margin-bottom: 8px;
  }

  .info-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
  }

  .data {
    text-align: left;
    flex: 1;
    color: $info-title-cl;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .value {
    text-align: justify;
    text-align-last: left;
    text-justify: inter-word; /* Controla el espaciado entre palabras */
    flex: 1;
    color: $main-text-cl;
    font-size: 0.8rem;
    white-space: normal;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .votes {
    background-color: $secondary-accent-cl;
    color: $main-bg-cl;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .vote {
    background-color: $secondary-bg-cl;
    color: $main-text-cl;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .about {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $main-text-cl;
    margin-bottom: 10px;
  }

  .sinopsis {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $main-text-cl;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .button {
    font-size: 12px;
    padding: 13px;
    margin: 0;
  }
}
