@use '../utils' as *;
@import '../utils/variables';

// edit below
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-card {
  position: absolute;
  min-width: 280px;
  margin: 20px 0 20px 0;
  padding: 48px 20px 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-card__img {
  display: block;
  min-width: 240px;
  max-height: 356.57px;
  border-radius: 5px;
  margin-bottom: 30px;
  object-fit: fill;
}

.modal-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.modal-card__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.modal-card__list-container {
  display: flex;
  column-gap: 41px;
}

.modal-card__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 71px;
  color: #8c8c8c;
}

.modal-card__list-details {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal-card__list-details--avg-color {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
}

.modal-card__buttons {
  display: flex;
  justify-content: center;
  gap: 14.85px;
}

.modal-card__skew-line {
  margin-left: 2px;
  color: #8c8c8c;
}

.modal-card__votes {
  display: inline-block;
  margin-left: 13px;
  min-width: 36px;
  height: 16px;
  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}

.modal-card__list-item:nth-child(3) {
  flex-grow: 1;
}

.modal-card__list-item:nth-child(4) {
  flex-grow: 1;
}

.modal-card__list-details:nth-child(3) {
  text-transform: uppercase;
}

.modal-card__movie-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal-card__movie-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .modal-card {
    min-width: 618px;
    max-height: 562px;
    padding: 42px 30px 40px 28px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .modal-card__movie-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-card__img {
    min-width: 264px;
    max-height: 373.55px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .modal-card {
    width: 882px;
    max-height: 568px;
    padding: 50px 30px 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .modal-card__img {
    min-width: 396px;
    max-height: 477.8px;
  }

  .modal-card__list-container {
    column-gap: 85px;
  }
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: rgba(189, 195, 199, 0.7);
  transition: ease-in-out 500ms;
}

.modal__container {
  width: 75%;
  height: 75%;
  background-color: #f7f7f7;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal__slide {
  font-size: 50px;
  transition: 1s;
  display: none;
}

.modal__slide.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.modal__nav {
  text-align: center;
}

.modal__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.modal__navlink.active {
  background-color: #ff6b01;
  border: 1px #ff6b01 solid;
}

.modal__image {
  width: 80%;
  border-radius: 2%;
}

.modal__description {
  width: 80%;
  text-align: center;
  font-size: 14px;
  line-height: 1.17;
}